<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/myscript")
   
    


</head>
<body>

    <div class="navbar navbar-fixed-top">

        <div class="container">
            <div class="row">
                <div class="site-navigation-inner col-sm-12">
                    <div class="navbar navbar-default menu-affix affix-top" data-spy="affix" data-offset-top="187">
                        <!-- <div class="navbar navbar-default"> -->
                        <div class="navbar-header">
                            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation </span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!-- Your site title as branding in the menu  -->
                            @*<div><a class="navbar-brand" href="http://keikolynn.com/" title="Keiko Lynn" rel="home"><img src="http://demo2.hollicewang.com/wp-content/uploads/2017/05/cropped-keikolynn_logo-1.png"></a></div>*@
                        </div>

                        <!-- The WordPress Menu goes here -->
                        <nav id="navbar-collapse" class="collapse navbar-collapse">
                            <ul id="main-menu" class="nav navbar-nav">
                                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                                <li>@Html.ActionLink("Лоты", "Index", "Lot")</li>
                                <li id="menu-item-7974" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-7974 dropdown">
                                    <a title="Style" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Категории<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a tabindex="-1" href="#">Категория 1</a></li>
                                        <li><a tabindex="-1" href="#">Категория 2</a></li>
                                        <li><a tabindex="-1" href="#">Категория 3</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-7972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7972"><a title="About" href="#">About</a></li>
                                @*<li><a href="#myModal" id="aut" data-toggle="modal">Авторизация</a></li>
                                    <li><a href="#myModal" id="aut" data-toggle="modal">Авторизация</a></li>*@
                                @Html.Partial("_LoginPartial")
                                <li><a class="cd-signin" id="aut" href="#0">Вход</a></li>
                                <li><a class="cd-signup" id="reg" href="#0">Регистрация</a></li>
                            </ul>
                        </nav>
                    </div><!-- .navbar -->
                </div>
            </div>
        </div><!-- .container -->

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>



    <div id="myAuthModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Авторизация</h4>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    @*@using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)*@

                        <fieldset>


                            <div class="editor-label">
                                <p>Name</p>
                                @*@Html.LabelFor(model => model.UserName)*@
                            </div>
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.UserName)*@
                            </div>
                            <div class="editor-label">
                                <p>Password</p>
                                @*@html.labelfor(model => model.userpassword)*@
                            </div>
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.UserPassword)*@
                            </div>

                        </fieldset>
                    @*}*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Войти</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Регистрация</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myRegModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Авторизация</h4>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    @*@using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)*@

                    <fieldset>


                        <div class="editor-label">
                            <p>Name</p>
                            @*@Html.LabelFor(model => model.UserName)*@
                        </div>
                        <div class="editor-field">
                            @*@Html.EditorFor(model => model.UserName)*@
                        </div>
                        <div class="editor-label">
                            <p>Password</p>
                            @*@html.labelfor(model => model.userpassword)*@
                        </div>
                        <div class="editor-field">
                            @*@Html.EditorFor(model => model.UserPassword)*@
                        </div>

                    </fieldset>
                    @*}*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Войти</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Регистрация</button>
                </div>
            </div>
        </div>
    </div>



                @*<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>*@


                @RenderSection("scripts", required: false)
</body>
</html>
